<section id="main">
	<div class="container">	
		<div class="row filters hidden-sm-down">
			<div class="col-md-12">
				<drop-down dimension="'Account Billing Country'" id="Country" title="Countries" selected-on-title="true" multiple-selections="true" listen-to-selections="true" keep-open="true"></drop-down>
				<drop-down dimension="'User Full Name'" id="Salespeople" title="All Sales People" selected-on-title="true" multiple-selections="true" listen-to-selections="true" keep-open="true"></drop-down>
				<drop-down dimension="'Opportunity Type'" id="OppTypes" title="All Opp Types" selected-on-title="true" multiple-selections="true" listen-to-selections="true" keep-open="true"></drop-down>
				<drop-down dimension="'Product Name'" id="Products" title="All Products" selected-on-title="true" multiple-selections="true" listen-to-selections="true" keep-open="true"></drop-down>
				<get-object qvid="'mmJPW'" id="mmJPW" height="19" width="100" header="false"></get-object>
				<get-object qvid="'PRZGjK'" id="PRZGjK" height="19" header="false"></get-object>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="v title-1 color-blue">ACCOUNTS<div>
			</div>
		</div>
		<div class="row padding-top-20">
			<div class="col-md-12 no-margin-padding-left-right">
				<div class="v title-3 stack">
					<span class="color-gray">TOTAL ACCOUNTS:</span>
					<kpi expression="num(Count(Distinct AccountId),'###,###,###')"></kpi>
				</div>
				<div class="v title-3 stack">
					<span class="color-gray">TOTAL CLOSED WON:</span>
					<kpi expression="num(Sum({<[Opportunity Won/Lost]={'WON'}, [Opportunity Closed_Flag]={1}>} [Opportunity Amount]),'$###,###,###')"></kpi>
				</div>
				<div class="v title-3 stack">
					<span class="color-gray">TOTAL CLOSED LOST:</span>
					<kpi expression="num(Sum({<[Opportunity Won/Lost]={'LOST'}, [Opportunity Closed_Flag]={1}>} [Opportunity Amount]),'$###,###,###')"></kpi>
				</div>
				<div class="v title-3 color-gray-dark stack hidden-sm-down"> | </div>
				<div class="v title-3 stack">	
					<span class="color-gray">WIN RATE:</span>				
					<kpi expression="num(Sum({<[Opportunity Won/Lost] = {'WON'}>} Opportunity_Count)	/Sum({<[Opportunity Is Closed?]={'true'}>} Opportunity_Count), '##%')"></kpi>
				</div>
			</div>
		</div>

		<div class="row no-margin-padding">
			<div class="col-md-12 radio-group no-margin-padding-left-right">
				<div class="v text-3"><strong>View by: </strong></div>
				<div class="v text-3"><input type="radio" ng-model="vars.selected" ng-value="1" ng-change="vars.chart1='mhwYJTf';vars.chart2='AGamPz';vars.chart3='EXwqLJ'"> Number of deals </div>
				<div class="v text-3"><input type="radio" ng-model="vars.selected" ng-value="2" ng-change="vars.chart1='smgeRB';vars.chart2='UPvJrV';vars.chart3='ePKmct'"> Value of deals</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 no-margin-padding-left padding-top-20">
				<span class="v title-3 color-gray-light">ACCOUNTS BY INDUSTRY</span>
				<get-object qvid="vars.chart1" id="chart1" height="290" header="false"></get-object>
			</div>
			<div class="col-md-4 no-margin-padding-left padding-top-20">
				<span class="v title-3 color-gray-light">CONTINUOUS ACCOUNTS</span>
				<get-object qvid="vars.chart2" id="chart2" height="300" header="false"></get-object>
			</div>
			<div class="col-md-4 no-margin-padding-left padding-top-20">
				<span class="v title-3 color-gray-light">ACCOUNTS BY COUNTRY</span>
				<get-object qvid="vars.chart3" id="chart3" height="300" header="false"></get-object>
			</div>
		</div>
		
	</div>
</section>
<section id="submain">
	<div class="container">	
		<div class="row">
			<div class="col-md-12">
				<span class="v title-3 color-blue">ACCOUNTS DETAILS</span>
				<get-object qvid="'Qztwmx'" id="Qztwmx" height="300" header="false"></get-object>
			</div>
		</div>
	</div>
</section>